In [6]:
import pandas as pd

In [7]:
tense_present = pd.read_csv('tense_present.csv',sep=',')

In [8]:
tense_present

,iso-639-3,name,value,description,latitude,longitude,family
0,agr,Aguaruna,N,no,-5.300440,-77.921790,Chicham
1,apu,Apurin�,N,no,-8.216920,-66.771410,Arawakan
2,arh,Arhuaco,N,no,10.701840,-73.636290,Chibchan
3,kwi,Awa-Cuaiquer,N,no,1.216525,-78.340135,Barbacoan
4,brg,Baure,N,no,-13.127750,-64.183810,Arawakan
...,...,...,...,...,...,...,...
59,pav,Wari,CLI,clitic,-10.699480,-64.561520,Chapacuran
60,mtp,Wich� Lhamt�s Nocten,N,no,-21.987995,-63.597110,Matacoan
61,yaa,Yaminahua,N,no,-9.884597,-71.596433,Pano-Tacanan
62,ame,Yanesha',N,no,-10.545390,-75.314970,Arawakan
63,yuz,Yuracar�,N,no,-16.747880,-65.122410,Yurakare