In [21]:
#importamos pandas como pd
import pandas as pd

In [22]:
#definimos una lista llamada tense_present que contendrá la lectura del archivo con los datos de tiempo presente
tense_present = pd.read_csv('tense_present.csv',sep=',')

TIEMPO PRESENTE

In [23]:
#visualizamos la lista tense_present
tense_present[:5]

  iso-639-3          name value description   latitude  longitude     family
0       agr      Aguaruna     N          no  -5.300440 -77.921790    Chicham
1       apu       Apurin�     N          no  -8.216920 -66.771410   Arawakan
2       arh       Arhuaco     N          no  10.701840 -73.636290   Chibchan
3       kwi  Awa-Cuaiquer     N          no   1.216525 -78.340135  Barbacoan
4       brg         Baure     N          no -13.127750 -64.183810   Arawakan

In [24]:
#visualizamos las columnas del archivo en forma de lista
list(tense_present.columns)

['iso-639-3',
 'name',
 'value',
 'description',
 'latitude',
 'longitude',
 'family']

In [25]:
#visualizamos únicamente dos columnas de tense_present (name y value)
tense_present[['name','value']][:5]

           name value
0      Aguaruna     N
1       Apurin�     N
2       Arhuaco     N
3  Awa-Cuaiquer     N
4         Baure     N

In [26]:
#definimos una nueva lista llamada value_name que contendrá solo las columnas 'name' y 'value'
value_name = tense_present[['name','value']]

In [27]:
value_name[:5]

           name value
0      Aguaruna     N
1       Apurin�     N
2       Arhuaco     N
3  Awa-Cuaiquer     N
4         Baure     N

In [28]:
#creamos un diccionario con las columnas 'name' y 'value'. Name=keys y value=values.
value_name1 = dict(zip(value_name['name'], value_name['value']))

In [29]:
value_name1

{'Aguaruna': 'N',
 'Apurin�': 'N',
 'Arhuaco': 'N',
 'Awa-Cuaiquer': 'N',
 'Baure': 'N',
 'Bora': 'N',
 'Bororo': 'N',
 'Canela': 'N',
 'Cavine�a': 'N',
 'Central Aymara': 'AFF',
 'Chimila': 'N',
 'Cocama-Cocamilla': 'N',
 'Cubeo': 'AFF',
 'Cusco Quechua': 'N',
 'Desano': 'AFF',
 'D�w': 'N',
 'Emerillon': 'N',
 'Hixkary�na': 'AFF',
 'Huallaga Hu�nuco Quechua': 'N',
 'Hupd�': 'N',
 'Imbabura Highland Quichua': 'N',
 'Itonama': 'N',
 'Jamamad�': 'N',
 'Kaingang': 'N',
 'Kamayur�': 'N',
 'Kano�': 'N',
 'Kariti�na': 'AFF',
 'Karo (Brazil)': 'N',
 'Kwaza': 'N',
 'Leco': 'AFF',
 'Mamaind�': 'AFF',
 'Mapudungun': 'N',
 'Mats�s': 'AFF',
 'Mocov�': 'N',
 'Moset�n': 'N',
 'Movima': 'N',
 'Muniche': 'N',
 'Nhengatu': 'N',
 'Ninam': 'N',
 'Northern Ember�': 'AFF',
 'Panare': 'AFF',
 'Parec�s': 'N',
 'Pilag�': 'N',
 'Puinave': 'N',
 'P�ez': 'N',
 'Rikbaktsa': 'AFF',
 'Saban�': 'AFF',
 'Sakirabia': 'N',
 'Sater�-Maw�': 'N',
 'Shipibo-Conibo': 'N',
 'Shuar': 'N',
 'Tapiet�': 'N',
 'Tariana': 'CLI',
 'Tehuelche': '?',
 'Tri�': 'AFF',
 'Trumai': 'PAR',
 'Tsafiki': 'N',
 'Urarina': 'N',
 'Warao': 'AFF',
 'Wari': 'CLI',
 'Wich� Lhamt�s Nocten': 'N',
 'Yaminahua': 'N',
 "Yanesha'": 'N',
 'Yuracar�': 'N'}

In [71]:
##no_marcacion = []
##for key in value_name1:
    ##if key ==N:
        ##no_marcacion = no_marcación + [key]

NameError: name 'N' is not defined

In [87]:
no_marcacion = []

for lengua in value_name1.values():
    if value_name1[key]==3:
        no_marcacion+=[value]

KeyError: 'N'

In [84]:
no_marcacion

[]

In [32]:
valores = set(value_name1.values())

In [33]:
valores

{'?', 'AFF', 'CLI', 'N', 'PAR'}

In [58]:
lista_valores = []
lista_valores = list(valores)

In [59]:
lista_valores

['N', 'CLI', 'PAR', '?', 'AFF']

In [66]:
no_marcacion = []

for value in lista_valores:
    if value ==lista_valores[0]:
        no_marcacion = no_marcacion + [lista_valores]

In [67]:
no_marcacion

[['N', 'CLI', 'PAR', '?', 'AFF']]